.hoverButtonCard {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
}

.hoverButtonCard:hover {
  border-radius: 50%;
  background-color: rgb(219, 219, 219);
}

.hoverAction {
  text-decoration: none;
  color: rgb(13, 110, 253);
  cursor: pointer;
}

.hoverAction:hover {
  text-decoration: underline;
  text-decoration-color: rgb(13, 110, 253);
  color: rgb(13, 110, 253);
}

.hoverDiv {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
}
.hoverDiv:hover {
  background-color: rgb(219, 219, 219);
}
