<!-- seccion aniadir feed -->
<div class="py-3">
  <div class="d-flex flex-row justify-content-between px-2">
    <div class="text-start">
      <p class="m-0 fw-bold">
        {{ "page.home.aniadirFeed.aniadirfeedIcon" | translate }}
      </p>
    </div>
    <div style="cursor: pointer">
      <svg
        style="width: 1rem"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        id="signal-notice-small"
        data-supported-dps="16x16"
        fill="currentColor"
      >
        <path
          d="M12 2H4a2 2 0 00-2 2v8a2 2 0 002 2h8a2 2 0 002-2V4a2 2 0 00-2-2zm-3 8v2H7.5A1.5 1.5 0 016 10.5a1.56 1.56 0 01.1-.5l1.08-3h2.13l-1.09 3zm0-3.75A1.25 1.25 0 1110.25 5 1.25 1.25 0 019 6.25z"
        ></path>
      </svg>
    </div>
  </div>
</div>
<!-- Seccion card de seguir -->
<div>
  <div class="d-flex flex-row py-2" *ngFor="let item of listItem">
    <!-- imagen -->
    <div>
      <img
        class="rounded-circle"
        [src]="item.srcImg"
        alt="Imagen de contacto"
        style="max-width: 3rem; max-height: 3rem"
      />
    </div>
    <!-- informacion -->
    <div class="px-2 text-start">
      <!-- Titulo -->
      <div class="fw-semibold">{{ item.nombre }}</div>
      <!-- Descripcion -->
      <div>{{ item.description }}</div>
      <!-- Boton Seguir -->
      <div>
        <button
          class="btn btn-outline-secondary rounded-pill"
          style="max-height: 2rem; display: flex; align-items: center"
        >
          <span>
            <svg
              style="width: 1rem"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              id="add-small"
              data-supported-dps="16x16"
              fill="currentColor"
            >
              <path d="M14 9H9v5H7V9H2V7h5V2h2v5h5z"></path>
            </svg>
          </span>
          {{ "page.home.aniadirFeed.seguir" | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- parrafo de recomendaciones -->
  <div
    style="display: inline-block; padding: 0.2rem 0.4rem"
    class="recomendaciones"
  >
    {{ "page.home.aniadirFeed.verRecomendaciones" | translate }}
    <span>
      <svg
        style="width: 1rem"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        class="rtl-flip"
        id="arrow-right-small"
        data-supported-dps="16x16"
        fill="currentColor"
      >
        <path d="M11.45 3L15 8l-3.55 5H9l2.84-4H2V7h9.84L9 3z"></path>
      </svg>
    </span>
  </div>
</div>
