.opacity-hover {
  opacity: 0.7;
  cursor: pointer;
}

.opacity-hover:hover {
  opacity: 1;
}

.desactivate {
  border-bottom: none;
  opacity: 0.7;
}
.activate {
  opacity: 1;
  border-bottom: solid;
}

.hoverAction {
  text-decoration: none;
  color: rgb(21, 25, 29);
}

.hoverAction:hover {
  text-decoration: underline;
  text-decoration-color: rgb(13, 110, 253);
  color: rgb(13, 110, 253);
}

@media only screen and (max-width: 994px) {
  .size-screen {
    display: none;
  }
}
