<!-- contenedor principal -->
<div
  class="row text-center pt-3 bg-white container"
  style="font-size: 0.8rem; margin: 0 auto"
>
  <!-- Grupo que compone el boton de linkedin y el buscador -->
  <div class="col-3 d-flex align-items-center opacity-hover">
    <img
      src="./assets/svg/icons8-linkedin.svg"
      alt=""
      style="width: 40px; height: 40px"
    />
    <form class="d-flex" role="search">
      <input
        id="input"
        class="form-control"
        type="search"
        placeholder="Buscar"
        aria-label="Search"
        style="
          width: 100%;
          height: 32px;
          background-image: url('./assets/svg/icons8-búsqueda.svg');
          background-position: 5px 5px;
          background-repeat: no-repeat;
          background-size: 20px;
          padding: 10px 10px 12px 30px;
          background-color: rgba(202, 214, 238, 0.705);
        "
      />
    </form>
  </div>
  <!-- items de los navbar -->
  <div
    *ngFor="let item of itemsNavBar; let i = index"
    class="col-1 d-flex flex-column align-items-center justify-content-center opacity-hover desactivate"
    (click)="redirecTo(item.routUrlGlobal, i)"
    [class.activate]="i === currentIndex"
  >
    <div class="position-relative">
      <img [src]="item.svgUrl" [alt]="item.altImg" />
      <!-- Cirtculo rojo superior -->
      <span
        *ngIf="item.badgeNumber"
        class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
      >
        {{ item.badgeNumber }}
        <span class="visually-hidden">unread messages</span>
      </span>
    </div>
    <span>{{ item?.label || "" | translate }}</span>
  </div>
  <!-- Boton configuraciones de perfil -->
  <div
    class="col-1 d-flex flex-column align-items-center justify-content-center opacity-hover"
  >
    <img
      width="24"
      src="./assets/img/perfil.jpeg"
      height="24"
      alt="Imagen de perfil"
      id="ember16"
      class="global-nav__me-photo ember-view"
      style="border-radius: 50%"
    />
    <a
      class="nav-link dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ "page.home.navBar.yo" | translate }}
    </a>
  </div>
  <!-- Boton negocios -->
  <div
    class="col-1 d-flex flex-column align-items-center justify-content-center opacity-hover"
  >
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        data-supported-dps="24x24"
        fill="currentColor"
        class="mercado-match"
        width="24"
        height="24"
        focusable="false"
      >
        <path
          d="M3 3h4v4H3zm7 4h4V3h-4zm7-4v4h4V3zM3 14h4v-4H3zm7 0h4v-4h-4zm7 0h4v-4h-4zM3 21h4v-4H3zm7 0h4v-4h-4zm7 0h4v-4h-4z"
        ></path>
      </svg>
    </div>
    <a
      class="nav-link dropdown-toggle"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      {{ "page.home.navBar.paraNegocios" | translate }}
    </a>
  </div>
  <!-- Enlace Probar Premium -->
  <div
    class="col-1 d-flex flex-column align-items-center justify-content-center"
    style="cursor: pointer"
  >
    <a style="color: darkgoldenrod; text-decoration: underline">{{
      "page.home.navBar.probarPremium" | translate
    }}</a>
  </div>
  <!-- Boton para cambiar de idioma -->
  <div
    class="col-1 d-flex flex-column align-items-center justify-content-center"
  >
    <a
      class="nav-link dropdown-toggle hoverAction"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      [cdkMenuTriggerFor]="menuComponent.menu"
    >
      {{ "page.home.navBar.idioma" | translate }}
    </a>
  </div>
</div>

<app-menu #menuComponent [items]="menuItems"></app-menu>
