<div
  class="cuerpo-principal rounded-top border d-flex flex-column justify-content-start"
  [style.height]="bodyCardEneable ? '80vh' : 'auto'"
>
  <!-- fila inicial -->
  <div class="cuerpo-small p-2">
    <div
      class="d-flex flex-row align-items-center"
      (click)="changeState()"
      style="cursor: pointer"
    >
      <!-- imagen de perfil -->
      <div>
        <img
          src="./assets/img/perfil.jpeg"
          alt="Imagen de perfil"
          style="height: 2rem; width: 2rem"
          class="rounded-circle"
        />
      </div>
      <!-- titulo mensaje -->
      <div class="ms-2">{{ "Mensajes" | translate }}</div>
    </div>
    <!-- contendor de las interacciones -->
    <div class="d-flex flex-row">
      <!-- boton de tres puntos -->
      <button class="boton-interaccion ms-2">
        <img src="./assets/svg/iconoTresPuntos.svg" alt="" />
      </button>
      <!-- boton de nuevo mensaje -->
      <button class="boton-interaccion ms-2">
        <img src="./assets/svg/iconoNuevoMensaje.svg" alt="" />
      </button>
      <!-- boton de abrir y cerrar -->
      <button
        class="boton-interaccion ms-2"
        type="button"
        (click)="changeState()"
      >
        <img
          src="./assets/svg/iconoRowUp.svg"
          alt="Flecha arriba"
          *ngIf="!bodyCardEneable; else changeIcon"
        />
        <ng-template #changeIcon>
          <img src="./assets/svg/iconoRowDown.svg" alt="Flecha abajo" />
        </ng-template>
      </button>
    </div>
  </div>
  <!-- fila secundaria condicionada  -->
  <div
    *ngIf="bodyCardEneable"
    class="border-top d-flex flex-column justify-content-center align-content-center"
  >
    <!-- Buscador -->
    <div
      class="d-flex flex-row m-3 rounded border justify-content-around align-items-center"
      style="background-color: #eef3f8; height: 2rem"
    >
      <img
        src="./assets/svg/icons8-búsqueda.svg"
        alt=""
        style="color: rgba(214, 214, 214, 0.836); width: 1rem; height: 1rem"
      />
      <input
        type="search"
        placeholder="Buscar"
        style="border: none; background-color: transparent"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
      <button
        class="boton-interaccion"
        [cdkMenuTriggerFor]="menuComponent.menu"
      >
        <img
          src="./assets/svg/iconConfiguracion.svg"
          alt=""
          style="width: 1rem; height: 1rem"
        />
      </button>
    </div>
    <!-- cartas de mensajes -->
    <div
      class="image-input-mensaje"
      *ngIf="mostrarCampoMensaje; else cuerpoMensaje"
    >
      <img src="../../../assets/svg/bitmap.svg" alt="" />
      <p>
        {{ "component.mensaje.input.parrafo" | translate }}
      </p>
    </div>
    <ng-template #cuerpoMensaje>
      <div class="d-flex flex-row align-content-center justify-content-around">
        <div
          class="w-100 text-center p-2 my-2 seccion-prioritarios-otros"
          [class.active]="1 === currentValue"
          (click)="onValueindex(1)"
        >
          {{ "component.mensaje.prioritarios" | translate }}
        </div>
        <div
          class="w-100 text-center p-2 my-2 seccion-prioritarios-otros"
          [class.active]="2 === currentValue"
          (click)="onValueindex(2)"
        >
          {{ "component.mensaje.otros" | translate }}
        </div>
      </div>
      <div class="d-flex flex-column" *ngIf="currentValue === 1; else otros">
        <app-mensaje-card-info
          [cardsMensaje]="cardsMensaje"
          [menuItemsCard]="menuItemsCard"
        ></app-mensaje-card-info>
      </div>
      <ng-template #otros class="d-flex flex-column">
        <app-mensaje-card-info
          [cardsMensaje]="cardsMensajeOtros"
          [menuItemsCard]="menuItemsCardOtros"
        ></app-mensaje-card-info>
      </ng-template>
    </ng-template>
  </div>
</div>

<app-menu #menuComponent [items]="menuItems" [ancho]="'8rem'"></app-menu>
