<div
  class="cuerpo-principal rounded-top border d-flex flex-column justify-content-center"
>
  <!-- fila inicial -->
  <div class="cuerpo-small p-2">
    <div
      class="d-flex flex-row align-items-center"
      (click)="changeState()"
      style="cursor: pointer"
    >
      <!-- imagen de perfil -->
      <div>
        <img
          src="./assets/img/perfil.jpeg"
          alt="Imagen de perfil"
          style="height: 2rem; width: 2rem"
          class="rounded-circle"
        />
      </div>
      <!-- titulo mensaje -->
      <div class="ms-2">{{ "Mensajes" | translate }}</div>
    </div>
    <!-- contendor de las interacciones -->
    <div class="d-flex flex-row">
      <!-- boton de tres puntos -->
      <button class="boton-interaccion ms-2">
        <img src="./assets/svg/iconoTresPuntos.svg" alt="" />
      </button>
      <!-- boton de nuevo mensaje -->
      <button class="boton-interaccion ms-2">
        <img src="./assets/svg/iconoNuevoMensaje.svg" alt="" />
      </button>
      <!-- boton de abrir y cerrar -->
      <button
        class="boton-interaccion ms-2"
        type="button"
        (click)="changeState()"
      >
        <img
          src="./assets/svg/iconoRowUp.svg"
          alt="Flecha arriba"
          *ngIf="!bodyCardEneable; else changeIcon"
        />
        <ng-template #changeIcon>
          <img src="./assets/svg/iconoRowDown.svg" alt="Flecha abajo" />
        </ng-template>
      </button>
    </div>
  </div>
  <!-- fila secundaria condicionada  -->
  <div *ngIf="bodyCardEneable" class="border-top">Holaaaaa</div>
</div>
