<div class="modal_container">
  <div class="modal_body">
    <div class="modal_seccion">
      <!-- Contenido del modal principal -->
      <div>
        <div
          class="my-3 mx-3 d-flex flex-row justify-content-between align-items-center"
        >
          <div class="aling-items-center">
            <h2 class="m-0">
              {{ "page.home.modalPublicacion.crearPublicacion" | translate }}
            </h2>
          </div>
          <div class="align-self-center">
            <button class="hoverAction" (click)="close()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                data-supported-dps="24x24"
                fill="currentColor"
                class="mercado-match"
                width="24"
                height="24"
                focusable="false"
              >
                <path
                  d="M13.42 12L20 18.58 18.58 20 12 13.42 5.42 20 4 18.58 10.58 12 4 5.42 5.42 4 12 10.58 18.58 4 20 5.42z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <hr style="margin: 0.2rem 0" />
        <div>
          <div class="d-flex flex-row p-2">
            <!-- imagen -->
            <div>
              <img
                class="rounded-circle"
                src="./assets/img/perfil.jpeg"
                alt="Imagen de contacto"
                style="max-width: 3rem; max-height: 3rem"
              />
            </div>
            <!-- informacion -->
            <div class="px-2 text-start">
              <!-- Nombre del publicador -->
              <div class="fw-semibold">Yorlin García</div>
              <!-- Boton selleccionar tipo de publicaion -->
              <div
                class="rounded-pill border border-3 border-dark-subtle bg-body-secondary"
              >
                <div class="mx-2 d-flex flex-row align-items-center">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    data-supported-dps="16x16"
                    fill="currentColor"
                    class="mercado-match"
                    width="16"
                    height="16"
                    focusable="false"
                  >
                    <path
                      d="M8 1a7 7 0 107 7 7 7 0 00-7-7zM3 8a5 5 0 011-3l.55.55A1.5 1.5 0 015 6.62v1.07a.75.75 0 00.22.53l.56.56a.75.75 0 00.53.22H7v.69a.75.75 0 00.22.53l.56.56a.75.75 0 01.22.53V13a5 5 0 01-5-5zm6.24 4.83l2-2.46a.75.75 0 00.09-.8l-.58-1.16A.76.76 0 0010 8H7v-.19a.51.51 0 01.28-.45l.38-.19a.74.74 0 01.68 0L9 7.5l.38-.7a1 1 0 00.12-.48v-.85a.78.78 0 01.21-.53l1.07-1.09a5 5 0 01-1.54 9z"
                    ></path>
                  </svg>
                  <a
                    class="nav-link dropdown-toggle ms-1"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    {{ "page.home.modalPublicacion.cualquiera" | translate }}
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!-- Descripcion del comentario a publicar -->
          <div class="input-group" style="height: 6rem">
            <textarea
              class="form-control"
              aria-label="With textarea"
              placeholder="¿Sobre qué quieres hablar?"
              style="border: none"
            ></textarea>
          </div>
          <!-- seccion de emoji -->
          <div class="m-3">
            <div
              class="d-flex align-items-center justify-content-center hoverAction"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                data-supported-dps="24x24"
                fill="currentColor"
                class="mercado-match"
                width="24"
                height="24"
                focusable="false"
              >
                <path
                  d="M8 10.5A1.5 1.5 0 119.5 12 1.5 1.5 0 018 10.5zm6.5 1.5a1.5 1.5 0 10-1.5-1.5 1.5 1.5 0 001.5 1.5zm7.5 0A10 10 0 1112 2a10 10 0 0110 10zm-2 0a8 8 0 10-8 8 8 8 0 008-8zm-8 4a6 6 0 01-4.24-1.76l-.71.76a7 7 0 009.89 0l-.71-.71A6 6 0 0112 16z"
                ></path>
              </svg>
            </div>
          </div>
          <!-- seccion aniadir elementos y boton publicar -->
          <div
            class="d-flex flex-row justify-content-between mx-3 align-items-center"
          >
            <!-- parte izquierda -->
            <div class="d-flex flex-row">
              <!-- aniadir una foto -->
              <div
                class="hoverAction d-flex align-items-center justify-content-center mx-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  class="mercado-match"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm1 13a1 1 0 01-.29.71L16 14l-2 2-6-6-4 4V7a1 1 0 011-1h14a1 1 0 011 1zm-2-7a2 2 0 11-2-2 2 2 0 012 2z"
                  ></path>
                </svg>
              </div>
              <!-- aniadir un video -->
              <div
                class="hoverAction d-flex align-items-center justify-content-center mx-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  class="mercado-match"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm-9 12V8l6 4z"
                  ></path>
                </svg>
              </div>
              <!-- aniadir un documento -->
              <div
                class="hoverAction d-flex align-items-center justify-content-center mx-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  class="mercado-match"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M3 3v15a3 3 0 003 3h9v-6h6V3zm9 8H6v-1h6zm6-3H6V7h12zm-2 8h5l-5 5z"
                  ></path>
                </svg>
              </div>
              <!-- aniadir a tu publicacion -->
              <div
                class="hoverAction d-flex align-items-center justify-content-center mx-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  class="mercado-match"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <path
                    d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z"
                  ></path>
                </svg>
              </div>
              <!-- linea divisora -->
              <div class="w-2 border-end"></div>
              <!-- seccion cualquiera -->
              <div
                class="hoverActionComplementaria d-flex align-items-center justify-content-center mx-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 16 16"
                  data-supported-dps="16x16"
                  fill="currentColor"
                  class="mercado-match"
                  width="16"
                  height="16"
                  focusable="false"
                >
                  <path
                    d="M5 8h5v1H5zm11-.5v.08a6 6 0 01-2.75 5L8 16v-3H5.5A5.51 5.51 0 010 7.5 5.62 5.62 0 015.74 2h4.76A5.5 5.5 0 0116 7.5zm-2 0A3.5 3.5 0 0010.5 4H5.74A3.62 3.62 0 002 7.5 3.53 3.53 0 005.5 11H10v1.33l2.17-1.39A4 4 0 0014 7.58zM5 7h6V6H5z"
                  ></path>
                </svg>
                <span class="mx-1">
                  {{ "page.home.modalPublicacion.cualquiera" | translate }}
                </span>
              </div>
            </div>
            <!-- parte derecha -->
            <div class="d-flex flex-row">
              <!-- Programar para mas tarde -->
              <div
                class="hoverAction d-flex align-items-center justify-content-center mx-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  data-supported-dps="24x24"
                  fill="currentColor"
                  class="mercado-match"
                  width="24"
                  height="24"
                  focusable="false"
                >
                  <g>
                    <path
                      d="M2 12A10 10 0 1012 2 10 10 0 002 12zm2 0a8 8 0 118 8 8 8 0 01-8-8z"
                    ></path>
                    <path
                      d="M15.1 12.63L13 11.42V7a1 1 0 00-2 0v5a1 1 0 00.51.85l2.59 1.52a1 1 0 101-1.74z"
                    ></path>
                  </g>
                </svg>
              </div>
              <!-- boton de publicar -->
              <div
                class="d-flex align-items-center justify-content-center mx-2"
              >
                <button
                  type="button"
                  class="btn btn-secondary rounded-pill m-0"
                  style="padding: 0.125rem 0.75rem"
                  disabled
                >
                  Button
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
