.modal_container {
  position: fixed;
  overflow: hidden;
  z-index: 9;
}

.modal_body {
  width: 100vw;
  height: 100vh;
  background-color: rgba(52, 58, 64, 0.8);
}
.modal_seccion {
  width: 10rem;
  height: 10rem;
  background-color: white;
  border-radius: 1rem;
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
}
