app-navbar {
  width: 100%;
  background-color: white;
}

.stiky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 5px;
}

@media only screen and (max-width: 992px) {
  .media-display {
    display: none;
  }
}
