<app-splash-screen *ngIf="homeReady; else noSplash"></app-splash-screen>
<ng-template #noSplash>
  <!-- Establecer todo el fonde interno en blanco -->
  <div style="background-color: white">
    <app-navbar></app-navbar>
  </div>
  <div class="container" style="margin: 0 auto">
    <div class="row text-center justify-content-center">
      <div class="col-3 bg-white rounded m-2 p-0">
        <app-perfil-bienvenida></app-perfil-bienvenida>
      </div>
      <div class="col-5 bg-white rounded m-2">
        <app-crear-publicacion></app-crear-publicacion>
        <app-card-publicacion></app-card-publicacion>
      </div>
      <div class="col-3 bg-white rounded m-2">
        <app-aniadir-feed></app-aniadir-feed>
        <app-info-app></app-info-app>
      </div>
    </div>
  </div>
</ng-template>
