<div
  *ngFor="let card of cardsMensaje; let i = index"
  class="d-flex flex-row justify-content-between hoverAction align-items-center p-1"
>
  <!-- Informacion del publicador -->
  <div class="d-flex flex-row">
    <!-- Contenedor de imagen -->
    <div>
      <img
        [src]="card.srcImg"
        alt=""
        style="width: 3rem; height: 3rem"
        class="rounded-circle"
      />
    </div>
    <!-- Contenedor de informacion del publicador -->
    <div
      class="d-flex flex-column"
      style="padding-left: 1rem; max-width: 13rem; width: auto"
    >
      <div
        class="d-flex flex-row justify-content-between align-items-center"
        style="height: 2rem"
      >
        <!-- nombre -->
        <div class="text-start fw-medium">
          {{ card.nombre }}
        </div>
        <!-- Hora de Publicacion -->
        <div class="text-end hoverValidation">
          {{ card.date }}
        </div>
        <!-- Boton de opciones -->
        <div class="hoverButtonCard">
          <Button
            type="button"
            [cdkMenuTriggerFor]="menuComponentCard.menu"
            (click)="actualizarIndice(i)"
          >
            <img src="./assets/svg/iconoTresPuntos2.svg" alt="" />
          </Button>
        </div>
      </div>

      <!-- Descripcion -->
      <div class="descripcion">
        <p>
          {{ card.description }}
        </p>
      </div>
    </div>
  </div>
</div>

<app-menu #menuComponentCard [items]="menuItemsCard"></app-menu>
