.hoverAction {
  cursor: pointer;
}
.hoverAction:hover {
  background-color: rgba(219, 219, 219, 0.4);
  .hoverValidation {
    display: none;
  }
  .hoverButtonCard {
    display: inline;
  }
}
.hoverButtonCard {
  display: none;
  button {
    background-color: transparent;
    border: none;
    width: 2rem;
    height: 2rem;
  }
}
.hoverButtonCard:hover {
  border-radius: 50%;
  background-color: rgb(219, 219, 219);
}

.descripcion {
  height: auto;
  width: 100%;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
