[cdkMenuItem] {
  display: flex;
  justify-content: space-between;
  width: 8rem;
  gap: 1rem;
  background-color: white;
  border: none;
  padding: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.5rem;
}

[cdkMenuItem]:hover {
  background-color: rgba(196, 196, 196, 0.568);
}

[cdkMenu] {
  border-radius: 1rem;
  border: 1px solid gray;
  background-color: white;
}
