<ng-template #menu>
  <div cdkMenu>
    <ng-container *ngFor="let item of items">
      <ng-container *ngIf="hasChildren(item); else leafNode">
        <button
          cdkMenuItem
          [cdkMenuTriggerFor]="subMenu"
          *ngIf="menuComponent.menu as subMenu"
        >
          <div>
            {{ item.label | translate }}
          </div>
          <div *ngIf="item.children">▸</div>
        </button>
        <app-menu #menuComponent [items]="item.children!"></app-menu>
      </ng-container>
      <ng-template #leafNode>
        <button cdkMenuItem (click)="opcionSelected(item.label)">
          {{ item.label | translate }}
        </button>
      </ng-template>
    </ng-container>
  </div>
</ng-template>
